<div class="propertylist">


    <template>
        <el-tabs v-model="activeName"  type="card" >
          <el-tab-pane label="NEO" name="NEO">

          <!-- UI: table -->
          <el-button :plain="true"  @click="switchAsset()" type="primary">{{isDisplay ? "隐藏余额为0的资产":"显示所有资产"}}</el-button>
          <br />
          <table class="table data-table table-bordred table-striped" style="margin-top:10px">
            <thead>
              <th>资产名称</th>
              <th>总量</th>
              <!-- <th>冻结量</th> -->
              <th>可用量</th>
              <th class="tb-btn"></th>
            </thead>
            <tbody>
              <tr v-for="balance in balances" v-if="isDisplay ? balance['valid'] : (balance['valid'] != 0)">
                <td v-if="balance['chain'] === activeName">{{balance['symbol']}}</td>
                <td v-if="balance['chain'] === activeName">{{balance['total']}}</td>
                <!-- <td>{{balance['frozen']}}</td> -->
                <td v-if="balance['chain'] === activeName">{{balance['valid']}}</td>
                <td v-if="balance['chain'] === activeName" class="tb-btn">
                  <template>
                    <span class="link-span"
                          @click="transfer(balance,1)"
                          v-show="balance['assetType'] != 'Share'">转账</span>
                  </template>

                  <!-- <template v-if="balance['assetId']=='ceab719b8baa2310f232ee0d277c061704541cfb'">
                    <span class="link-span"
                          @click="transfer(balance,2)"
                          v-show="balance['assetType'] != 'Share'">&nbsp;&nbsp;映射</span>
                  </template> -->

                  <template v-if="balance['assetId']=='a52e3e99b6c2dd2312a94c635c050b4c2bc2485fcb924eecb615852bd534a63f' && balance['valid'] > 0">
                    <span class="link-span"
                          @click="switchSEA(balance)"
                        >&nbsp;&nbsp;置换</span>
                  </template>

                  <template v-if="balance['assetId']=='30e9636bc249f288139651d60f67c110c3ca4c3dd30ddfa3cbcec7bb13f14fd4' && balance['valid'] > 0">
                    <span class="link-span"
                          @click="switchSEA(balance)"
                          >&nbsp;&nbsp;置换</span>
                  </template>
                </td>
              </tr>
            </tbody>
          </table>

          </el-tab-pane>
          <el-tab-pane label="ONT" name="ONT">
            <!-- UI: table -->
            <el-button :plain="true"  @click="switchAsset()" type="primary">{{isDisplay ? "隐藏余额为0的资产":"显示所有资产"}}</el-button>
            <br />
            <table class="table data-table table-bordred table-striped" style="margin-top:10px">
              <thead>
                <th>资产名称</th>
                <th>总量</th>
                <!-- <th>冻结量</th> -->
                <th>可用量</th>
                <th class="tb-btn"></th>
              </thead>
              <tbody>
                <tr v-for="balance in balances" v-if="isDisplay ? balance['valid'] : (balance['valid'] != 0)">
                  <!-- <td v-if="balance['assetType'] !== 'Token'">{{balance['symbol']}}</td> -->
                  <td v-if="balance['chain'] === activeName">{{balance['symbol']}}</td>
                  <td v-if="balance['chain'] === activeName">{{balance['total']}}</td>
                  <!-- <td>{{balance['frozen']}}</td> -->
                  <td v-if="balance['chain'] === activeName">{{balance['valid']}}</td>
                  <td  v-if="balance['chain'] === activeName" class="tb-btn">
                    <template>
                      <span class="link-span"
                            @click="transfer(balance,1)"
                            v-show="balance['assetType'] != 'Share'">转账</span>
                    </template>

                    <!-- <template v-if="balance['assetId']=='ceab719b8baa2310f232ee0d277c061704541cfb'">
                      <span class="link-span"
                            @click="transfer(balance,2)"
                            v-show="balance['assetType'] != 'Share'">&nbsp;&nbsp;映射</span>
                    </template> -->

                    <template v-if="balance['assetId']=='a52e3e99b6c2dd2312a94c635c050b4c2bc2485fcb924eecb615852bd534a63f' && balance['valid'] > 0">
                      <span class="link-span"
                            @click="switchSEA(balance)"
                          >&nbsp;&nbsp;置换</span>
                    </template>

                    <template v-if="balance['assetId']=='30e9636bc249f288139651d60f67c110c3ca4c3dd30ddfa3cbcec7bb13f14fd4' && balance['valid'] > 0">
                      <span class="link-span"
                            @click="switchSEA(balance)"
                            >&nbsp;&nbsp;置换</span>
                    </template>
                  </td>
                </tr>
              </tbody>
            </table>

          </el-tab-pane>
        </el-tabs>
    </template>
  <!-- UI: table -->

  <!-- 转账 -->
  <el-dialog v-model="transferModal" class="tiny-dialog" @close="transferClose">
    <transfer-modal @success="transferSuccess" ref="transferModall" v-if="hackReset" ></transfer-modal>
  </el-dialog>
  <!-- 交易 -->
  <el-dialog v-model="askModal" id="dialogTransaction">
    <ask-modal @success="askSuccess"></ask-modal>
  </el-dialog>

    <!-- 转账 -->
    <el-dialog v-model="mapModal" class="tiny-dialog">
      <map-modal @success="mapSuccess"></map-modal>
    </el-dialog>

</div>
