.container.container-padding
	.panel.panel-default.panel-state
		.panel-body  登录离线钱包
	.row(style="text-align:center")
		.col-xs-12.col-lg-12.text-left
			h3.h2 登录离线钱包
	canvas#particle
	.login-body.row
		.content.col-xs-12.col-lg-12
			form.from-group.login
				// File input
				.input-group
					input.form-control(type="text", style="background-color: #fff;", v-model.trim="nep2", placeholder="请输入nep2字符")
					//- label.btn-bs-file.btn.btn-select-file.btn-primary.btn-lj
					//- 	| 浏览
					//- 	input(type="file", accept="application/json, .json", @change="readFile($event.target.files[0])")
					//- span.error-text(v-show="filenameError", style="display:inline-block;padding-left:10px;")
					//- 	| {{ filenameError }}

				// The primary passwd input
				.input-group(:class="{ 'has-error': $v.password.$error }")
					input.form-control.pwd(:class="{ 'has-error': $v.password.$error }", type="password", v-model.trim="password", placeholder="输入钱包密码", @keyup.enter="login")
					span.error-text(v-if="!$v.password.required && $v.password.$dirty") 请您填写密码
					span.error-text(v-if="!$v.password.minLength && $v.password.$dirty") 密码不能小于4位
					span.error-text(v-if="!$v.password.maxLength && $v.password.$dirty") 密码不能超过16位
					span.error-text(v-if="!$v.password.$invalid && $v.password.$dirty")
						img(:src="img.yes")

				// Login button
				.input-group
					el-button.form-control(type="primary", style="border-radius:6px;", @click="login", :disabled="$v.$invalid", :loading="loading")
						| 登 &nbsp &nbsp 录
				.register.text-center
					router-link(to="/signUp") 没有钱包?立即创建!
				p.tips NEO/ONT提供底层技术支持
