.container-padding
   .row
      .col-xs-12
         .panel.panel-default.panel-state
            .panel-body 你已登录个人钱包。
              span(style="color:red") WIF私钥是您个人资产所有权的唯一凭证，请务必备份保管好。
   .row
      .col-lg-3.col-md-3.col-sm-12.col-xs-12
         .nav-menu.nav-menu--dark
            ul.nav.nav-pills.nav-stacked
               li(@click="handleNav"): a.title 菜   单
               li(@click="handleNav"): router-link(to="/admin/balances") 资产列表
               // li(@click="handleNav"): router-link(:to="{ path: '/admin/order', query: { type: 'sell'}}") 我的挂单
               li(@click="handleNav('bonus')"): router-link(to="/admin/bonus") 提取GAS分红

               li(@click="handleNav('ong')"): router-link(to="/admin/ong") 提取ONG分红

               li(:class="[{'on': onHistory}, 'drop-trigger']")
                  a(@click="handleNav('history')") 交易记录
                  transition(name='fade', mode='out-in')
                     ul.nav.nav-stacked.nav-pills.drop-menu
                        li(@click="on=true"): router-link(:to="{ name: 'transactionH' }") OTC记录
                        li(@click="on=true"): router-link(to="/admin/history/ico") ICO记录
                        li(@click="on=true"): router-link(:to="{ name: 'transferH' }") 转账记录
               li(:class="[{'on': onTool}, 'drop-trigger']")
                  a(@click="handleNav('tool')") 常用工具
                  transition(name='fade', mode='out-in')
                     ul.nav.nav-stacked.nav-pills.drop-menu
                        li(@click="on=true"): router-link(to="/admin/tool/sign") 签名
               li(@click="handleNav"): router-link(to="/admin/uid") 个人中心
      .col-lg-9.col-md-9.col-sm-12.col-xs-12
         .admin-content
            transition(name='fade', mode='out-in')
               router-view
   .row
      .col-xs-offset-3
        
        .admin-footer(v-if="onOng")
          b(style={"color": "#000"}) 提取提示：
            | 提取ONG需向本体主网支付0.02ONG。会自动从用户余额中扣除；余额不足时，提取失败。建议储备足量的ONG后，再进行提取。

        .admin-footer-line NEO/ONT提供底层技术支持