.container-padding
   .row
      .col-xs-12
         .panel.panel-default.panel-state
            .panel-body 你已登录个人钱包。
              span(style="color:red") WIF私钥是您个人资产所有权的唯一凭证，请务必备份保管好。
   .row
      .col-lg-3.col-md-3.col-sm-12.col-xs-12
         .nav-menu.nav-menu--dark
            ul.nav.nav-pills.nav-stacked
               li(@click="handleNav"): a.title 菜   单
               li(@click="handleNav"): router-link(to="/admin/balances") 资产列表
               // li(@click="handleNav"): router-link(:to="{ path: '/admin/order', query: { type: 'sell'}}") 我的挂单
               li(@click="handleNav('bonus')"): router-link(to="/admin/bonus") 提取分红

               li(:class="[{'on': onHistory}, 'drop-trigger']")
                  a(@click="handleNav('history')") 交易记录
                  transition(name='fade', mode='out-in')
                     ul.nav.nav-stacked.nav-pills.drop-menu
                        li(@click="on=true"): router-link(:to="{ name: 'transactionH' }") OTC记录
                        li(@click="on=true"): router-link(to="/admin/history/ico") ICO记录
                        li(@click="on=true"): router-link(:to="{ name: 'transferH' }") 转账记录
               li(@click="handleNav"): router-link(to="/admin/uid") 个人中心
      .col-lg-9.col-md-9.col-sm-12.col-xs-12
         .admin-content
            transition(name='fade', mode='out-in')
               router-view
   .row
      .col-xs-offset-3
         .admin-footer-line(v-if="onBonus")
           b(style={"color": "#000"}) 提取提示：
           el-button(type="primary", @click="claimTransfer", v-loading.lock="loading", size="mini", :disabled="disabled") 点击此处
           |  将自己全部的NEO小蚁股对自己的钱包地址进行一次转账，“不可提取数量” 才能变成 “可提取数量”。
         .admin-footer-line(v-else) NEO/ONT提供底层技术支持